html {
    scroll-behavior: smooth;
    overflow: hidden;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arial", monospace;
    font-size: 16px; 
    padding-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

main {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.88) 0%, rgba(255, 248, 228, 0.88) 30%, rgba(255, 255, 255, 0.82) 53%, #0B0A0A 53%, rgba(37, 37, 37, 1) 100%);
    border-radius: 8px;
    padding-top: 43px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 54px;
}

.bg {
    background: linear-gradient(121.78deg, #CAD2CA -5%, #282E2A 103.91%);
    margin: 0;
    padding: 0;
    font-family: "Arial", monospace;
    font-size: 16px;
    padding: 105px 80px;
    padding-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    
    height: 100vh;
}

img {
    vertical-align: middle;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.button {
    background-color: #282828;
    border-radius: 8px;
    color: #fff;
    padding: 20px 48px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 46px;
}